<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                @if (Model.CurrentUser == null)
                {
                    <li>
                        <a asp-area="Account" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                    </li>
                    <li>
                        <a asp-area="Account" asp-controller="Account" asp-action="Register">
                            Register
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        Logged in as @Model.CurrentUser.name
                    </li>
                    <li>
                        <form asp-area="Account" asp-controller="Account" asp-action="Logout" method="post">
                            <input type="submit" value="Logout" />
                        </form>
                    </li>
                }
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>
        &copy; @DateTime.Now.Year Yasin, Aaron, &amp; Luke
    </footer>
</body>
</html>
