@model UserViewModel
@{
    Layout = "_Base";
}

<div class="row">
    <h2 class="heading d-flex justify-content-center align-items-center p-0">Characters</h2>
</div>

@if (TempData.Keys.Contains("message"))
{
    <p>
        @TempData["message"]
    </p>
}
@if (Model.CurrentUser?.Id == Model.SelectedUser.Id)
{
    <div class="col-md-4 offset-md-4">
        <a asp-controller="Character" asp-action="Add" class="button button-fixed mx-auto">Create Character</a>
    </div>
}
<div class="col-md-4 offset-md-4 wooden-form p-5">
    <h3>
        @Model.Characters.Count
        character@(Model.Characters.Count == 1 ? "" : "s")
    </h3>
    @foreach (Character character in Model.Characters)
    {
        <p>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@character.Id" class="text-light text-decoration-none">@character.Name</a>
        </p>
    }
</div>
