@model UserViewModel
@{
    Layout = "_Base";
}

<h2 class="heading text-center">Characters</h2>

@if (TempData.Keys.Contains("message"))
{
    <div class="col-md-4 offset-md-4 alert alert-info alert-dismissible fade show" role="alert">
        @TempData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.CurrentUser?.Id == Model.SelectedUser!.Id)
{
    <div class="col-md-4 offset-md-4 mb-3">
        <a asp-controller="Character" asp-action="Add" class="button button-fixed mx-auto">Create Character</a>
    </div>
}

<div class="col-md-4 offset-md-4 wooden-form p-5">
    <h3>@Model.Characters!.Count character@(Model.Characters.Count == 1 ? "" : "s")</h3>
    @foreach (Character character in Model.Characters)
    {
        <p>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@character.Id" class="text-light text-decoration-none">@character.Name</a>
        </p>
    }
</div>
