@model UserViewModel
@{
    Layout = "_Base";
}
<h2>
    Combatants
</h2>
@if (Model.CurrentUser?.Id == Model.SelectedUser.Id)
{
    <p>
        <a asp-controller="Character" asp-action="Add">Create Combatant</a>
    </p>
}
<p>
    @Model.Combatants.Count
    combatant@(Model.Combatants.Count == 1 ? "" : "s")
</p>
@foreach (Combatant combatant in Model.Combatants)
{
    <p>
        <a asp-controller="Character" asp-action="Index" asp-route-id="@combatant.Id">@combatant.Name</a>
    </p>
}
