@model UserEditViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Tagline";
}
<div class="row">
    <h1 class="heading d-flex justify-content-center align-items-center p-0">Edit</h1>
</div>

<form asp-action="Edit" method="post" class="col-md-4 offset-md-4 wooden-form p-5">
    <div class="mb-3">
        <label asp-for="User.Tagline" class="form-label">
            Tagline
        </label>
        <input asp-for="User.Tagline" class="form-control" />
    </div>
    <div class="text-center">
        <input type="submit" value="Save" class="button d-inline-block p-3" />
        <a asp-controller="User" asp-action="Characters" asp-route-id="@Model.User.Id" class="button d-inline-block p-3">Cancel</a>
    </div>
</form>
