@model TeamDeleteViewModel
@{
    ViewData["Title"] = "Confirm Deletion";
}
<div class="row">
    <h1 class="heading text-center">
        Confirm Delete
    </h1>
</div>
<form asp-action="Delete" method="post" class="col-md-4 offset-md-4 wooden-form p-5">
    <p>
        Are you sure you want to delete @Model.Team.Name?
    </p>
    <div class="text-center">
        <input type="submit" value="Yes" class="button d-inline-block p-3" />
        <a asp-controller="User" asp-action="Teams" asp-route-id="@Model.Team.UserId" class="button d-inline-block p-3 ms-2">No</a>
    </div>
</form>
