@{
    Layout = "_LayoutBare";
    ViewData["Title"] = "Combat Game Site";
}

<div class="row pt-5 mb-3">
    <h1 class="heading text-center">Combat Game Site</h1>
    <p class="subtext text-center fs-5">Welcome to the Combat Game Site. Choose an option from the menu.</p>
</div>

<div class="row justify-content-center mb-3">
    <a asp-controller="Home" asp-action="Battle" class="button button-fixed d-flex justify-content-center align-items-center mx-3 p-0 fs-3">Fight</a>
</div>

<div class="row justify-content-center mb-3">
    <a asp-controller="Home" asp-action="Leaderboard" class="button button-fixed d-flex justify-content-center align-items-center mx-4 p-0 fs-5">Leaderboard</a>
</div>                

@if (Model.CurrentUser == null)
{
    <div class="row justify-content-center mb-3">
        <a asp-area="Account" asp-controller="Account" asp-action="Login" class="button button-fixed d-flex justify-content-center align-items-center px-4 fs-3">Login</a>
    </div>
    <div class="row justify-content-center pb-5">
        <a asp-area="Account" asp-controller="Account" asp-action="Register" class="button button-fixed d-flex justify-content-center align-items-center px-4 fs-3">Register</a>
    </div>
}
else
{
    <div class="row justify-content-center mb-3">
        <a asp-controller="User" asp-action="Characters" asp-route-id="@Model.CurrentUser.Id" class="button button-fixed d-flex justify-content-center align-items-center  px-4  fs-4">Combatants</a>

    </div>
    <div class="row justify-content-center mb-3">
        <a asp-controller="User" asp-action="Teams" asp-route-id="@Model.CurrentUser.Id" class="button button-fixed d-flex justify-content-center align-items-center  px-4  fs-3">Teams</a>

    </div>
    <div class="row pb-5">
        <form asp-area="Account" asp-controller="Account" asp-action="Logout" method="post" class="d-flex justify-content-center">
            <input type="submit" value="Logout" class="button button-fixed d-flex justify-content-center align-items-center px-4 fs-3" />
        </form>
    </div>
}
