@model CombatantDeleteViewModel
@{
    ViewData["Title"] = "Confirm Delete";
}
<h1>
    Confirm Delete
</h1>
<form asp-action="Delete" method="post">
    <p>
        Are you sure you want to delete @Model.Combatant.Name?
    </p>
    @if (Model.Teams.Count > 0)
    {
        <p>
            Warning: The following teams will be affected:
        </p>
        <ul>
            @foreach (Team team in Model.Teams)
            {
                <li>@team.Name</li>
            }
        </ul>
    }
    <div>
        <input type="submit" value="Yes" />
        <a asp-controller="Combatant" asp-action="Index" asp-route-id="@Model.Combatant.Id">No</a>
    </div>
</form>
